In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("C:/Users/nihar/OneDrive/Documents/Sales-Performance-Dashboard/data/sales_data.csv")

In [12]:
df.head()

,Order_ID,Order_Date,Category,Sub_Category,Region,Customer_Segment,Sales,Quantity,Profit
0,CA-1001,2024-01-05,Furniture,Chairs,West,Consumer,250.0,2,35.0
1,CA-1002,2024-01-06,Technology,Phones,East,Corporate,850.0,5,120.0
2,CA-1003,2024-01-07,Office Supplies,Binders,West,Home Office,100.0,3,15.0
3,CA-1004,2024-01-08,Technology,Laptops,Central,Consumer,1200.0,2,200.0
4,CA-1005,2024-01-09,Furniture,Tables,South,Corporate,450.0,4,50.0

In [13]:
df.shape

(5, 9)

In [14]:
df.columns

Index(['Order_ID', 'Order_Date', 'Category', 'Sub_Category', 'Region',
       'Customer_Segment', 'Sales', 'Quantity', 'Profit'],
      dtype='object')

In [15]:
df.isnull().sum()

Order_ID            0
Order_Date          0
Category            0
Sub_Category        0
Region              0
Customer_Segment    0
Sales               0
Quantity            0
Profit              0
dtype: int64

In [16]:
df.dtypes

Order_ID             object
Order_Date           object
Category             object
Sub_Category         object
Region               object
Customer_Segment     object
Sales               float64
Quantity              int64
Profit              float64
dtype: object

In [17]:
df.describe()

             Sales  Quantity      Profit
count     5.000000   5.00000    5.000000
mean    570.000000   3.20000   84.000000
std     450.832563   1.30384   75.944058
min     100.000000   2.00000   15.000000
25%     250.000000   2.00000   35.000000
50%     450.000000   3.00000   50.000000
75%     850.000000   4.00000  120.000000
max    1200.000000   5.00000  200.000000

In [18]:
df['Category'].unique()

array(['Furniture', 'Technology', 'Office Supplies'], dtype=object)

In [19]:
df['Region'].unique()

array(['West', 'East', 'Central', 'South'], dtype=object)

In [20]:
df['Customer_Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)